<div class="container">
    <div class="top-bar">
      <button class="menu-button" (click)="toggleMenu()">☰</button>
      <!-- Dropdown Menu -->
    <div class="menu" *ngIf="menuOpen">
      <p>Select Time Signature:</p>
      <button (click)="setTimeSignature('4/4')">4/4</button>
      <button (click)="setTimeSignature('3/4')">3/4</button>
      <button (click)="setTimeSignature('6/8')">6/8</button>

      <!-- (Optional) Display selected time signature -->
      <p class="time-signature-display">Time Signature: {{ timeSignature }}</p>
    </div>
</div>
  
    <!-- BPM Circle -->
    <div class="bpm-circle">{{ bpm }}</div>

    <!-- Icon Buttons -->
    <div class="icon-buttons">
      <button class="icon-button" (click)="decreaseBPM()">&#8722;</button> <!-- minus -->
      <button class="icon-button play-button" (click)="toggleMetronome()">&#9658;</button> <!-- play -->
      <button class="icon-button" (click)="increaseBPM()">&#43;</button> <!-- plus -->
    </div>
  
    <!-- Timer -->
    <div class="timer">{{ timerDisplay }}</div>
  
    <!-- Start Button -->
    <button class="button" (click)="toggleTimer()">{{ isRunning ? 'Stop' : 'Start' }}</button>
  
    <!-- Reset Button -->
    <button class="button" (click)="resetTimer()">
      Reset
    </button>

    <!-- Tap for Tempo -->
    <button class="button" routerLink="/tap-tempo">Tap for Tempo</button>
  </div>

  
  