<div class="container">
    <div class="top-bar">
      <button class="menu-button" (click)="toggleMenu()">☰</button>

      <!-- Dropdown Menu -->
    <div class="menu mt-2" *ngIf="menuOpen">
      <p>Select Time Signature:</p>
      <div class="btn-group mb-2">
        <button class="button" (click)="setTimeSignature('4/4')">4/4</button>
        <button class="button" (click)="setTimeSignature('3/4')">3/4</button>
        <button class="button" (click)="setTimeSignature('6/8')">6/8</button>
      </div>
      <!--  Display selected time signature -->
      <p class="time-signature-display">Time Signature: {{ timeSignature }}</p>
       
      <hr />

      <div class="toggle-container">
        <label class="switch">
          <input type="checkbox" [(ngModel)]="notificationsEnabled" (change)="toggleNotifications()">
          <span class="slider round"></span>
        </label>
        <span class="toggle-label">Notifications</span>
      </div>
    </div>
</div>
  
    <!-- BPM Circle -->
  <div class="bpm-circle my-3">{{ bpm }}</div>

     <!-- Icon Buttons -->
  <div class="icon-buttons d-flex justify-content-center gap-2 my-2">
    <button class="btn icon-button" (click)="decreaseBPM()">&#8722;</button>
    <button class="btn icon-button play-button" (click)="toggleMetronome()">&#9658;</button>
    <button class="btn icon-button" (click)="increaseBPM()">&#43;</button>
  </div>
  
    <div class="button-stack">
       <!-- Timer -->
      <div class="timer">{{ timerDisplay }}</div>
    
      <!-- Start Button -->
      <button class="button start-button" (click)="toggleTimer()">{{ isRunning ? 'Stop' : 'Start' }}</button>
    
      <!-- Reset Button -->
      <button class="button reset-button" (click)="resetTimer()">
        Reset
      </button>

      <!-- Tap for Tempo -->
      <button class="button tempo-button" routerLink="/tap-tempo">Tap for Tempo</button>
    </div>
  </div>

  
  