<div class="container">
    <div class="top-bar">
      <button class="menu-button">☰</button>
    </div>
  
    <!-- BPM Circle -->
    <div>Circle</div>
  
    <!-- Icon Buttons -->
    <div class="icon-buttons">
      <button class="icon-button" >&#8722;</button> <!-- minus -->
      <button class="icon-button play-button" (click)="playClickSound()">&#9658;</button> <!-- play -->
      <button class="icon-button" >&#43;</button> <!-- plus -->
    </div>
  
    <!-- Timer -->
    <div class="timer">{{ timerDisplay }}</div>
  
    <!-- Start Button -->
    <button class="button" (click)="toggleTimer()">{{ isRunning ? 'Stop' : 'Start' }}</button>
  
    <!-- Reset Button -->
    <button class="button" (click)="resetTimer()">
      Reset
    </button>

    <!-- Tap for Tempo -->
    <button class="button">Tap for Tempo</button>
  </div>
  