<div class="container">
    <!-- top bar -->
    <div class="top-bar">
        <button class="menu-button" (click)="goBack()">&#8592;</button>
        <button class="menu-button">&#9776;</button>
    </div>
    
    <div class="main-content">
        <!-- circle -->
        <div class="bpm-circle">{{bpm != null ? bpm  : '--'}}</div>
        <!-- tap button -->
        <button class="tap-button" (click)="handleTap()">Tap</button>
        <!-- Reset Button -->
        <button class="tap-reset-button" (click)="resetTapTempo()">Reset</button>
    </div>
</div>

